<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.everj.aAll_Purpose_calc_app">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="All Purpose Calculator Home"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.example.everj.aAll_Purpose_calc_app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.example.everj.aAll_Purpose_calc_app.BMIActivity"
                android:label="BMI calculator"
                android:parentActivityName="com.example.everj.aAll_Purpose_calc_app.MainActivity"/>
        <activity
                android:name="com.example.everj.aAll_Purpose_calc_app.CurrencyActivity"
                android:label="Currency Converter"
                android:parentActivityName="com.example.everj.aAll_Purpose_calc_app.MainActivity"/>
        <activity
                android:name="com.example.everj.aAll_Purpose_calc_app.UnitActivity"
                android:label="Unit Length Calculator"
                android:parentActivityName="com.example.everj.aAll_Purpose_calc_app.MainActivity"/>
        <activity
                android:name="com.example.everj.aAll_Purpose_calc_app.DiscountActivity"
                android:label="Discount Calculator"
                android:parentActivityName="com.example.everj.aAll_Purpose_calc_app.MainActivity"/>
        <activity
                android:name="com.example.everj.aAll_Purpose_calc_app.DegreeActivity"
                android:label="Temperature Calculator"
                android:parentActivityName="com.example.everj.aAll_Purpose_calc_app.MainActivity">
            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>